{% extends "base.html" %}

{% macro show_item(item) %}
<a href="{{ url_for('.item', item_id=item.item_id) }}">
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">{{ item.detail }}</p>
        </div>
    </div>
</a>
{% endmacro %}

{% block content %}

    <h1>Best in {{ g.dataset.id | title }}</h1>

    <div class="card-deck">
    {% for item in items %}
        {{ show_item(item) }}
    {% endfor %}
    </div>
{% endblock content %}
