{% extends "base.html" %}

{% macro breadcrumb(crumbs, is_leaf=False) %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        {% for (name, link) in crumbs %}
            {% if loop.last and is_leaf %}
                <li class="breadcrumb-item active }}" aria-current="page">{{ name | title }}</li>
            {% else %}
                <li class="breadcrumb-item"><a href="{{ link }}">{{ name | title }}</a></li>
            {% endif %}
        {% endfor %}
      </ol>
    </nav>
{% endmacro %}


{% macro short_item(item) %}
    <a href="{{ url_for('.item', item_id=item.item_id) }}">{{item.name}}, {{ item.detail }}</a>
{% endmacro %}

{% macro opinion(better_or_worse, items) %}
    {% if better_or_worse == 'better' %}
        <h3>Better</h3>
        I prefer the following to {{ main_item.name }}
    {% else %}
        <h3>Worse</h3>
        I prefer {{ main_item.name }} to
    {% endif %}
    <form method="POST">
        <div class="typeahead__container">
            <div class="typeahead__field">
                <div class="typeahead__query">
                    <input class="js-typeahead"
                           name="item_name"
                           type="search"
                           autocomplete="off">
                    <input type="hidden" name="better_or_worse" value="{{ better_or_worse }}">
                </div>
                <div class="typeahead__button">
                    <button type="submit">
                        <span class="typeahead__search-icon"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
    <ul>
    {% for item in items %}
        <li>
            {{ short_item(item) }}
            <form action="{{ url_for('.remove_prefer', item_id=main_item.item_id, remove_item_id=item.item_id) }}" style="display: inline" method="POST">
                <button type="submit" class="close" aria-label="Dismiss">
                    <span aria-hidden="true">&times;</span>
                </button>
            </form>
        </li>
    {% endfor %}
    </ul>
{% endmacro %}

{% block content %}
    <script>
        $(function() {
            $('.js-typeahead').typeahead({
                order: "asc",
                source: {
                    groupName: {
                        ajax: {
                            url: '{{ url_for('.typeahead') }}',
                            method: 'GET',
                        }
                    }
                },
                callback: {
                    onInit: function () {}
                },
                mustSelectItem: true,  // only from predefined items
                hint: true,  // show inline gray autocomplete
                accent: true,  // ignore accents 
                //cache: true,  // cache results in localstorage
                display: 'name',  // attribute to use as match
                {% raw %}
                template: '{{name}}, {{street}}',
                {% endraw %}
                onSubmit: function(node, form, item, event) {
                    console.log(item);
                },
                onClickAfter: function(node, form, item, event) {
                    console.log('afer');
                    form.submit();
                },
            });
        });
    </script>

    <h1>{{ main_item.name }}</h1>

    <div class="row">
        <div class="col-8">
            {% for bc in main_item.all_breadcrumbs() %}
                {{ breadcrumb(bc) }}
            {% endfor %}

            <table>
                {% for key, values in tags.items() if ':' not in key %}
                <tr>
                    <th>{{ key | title }}</th>
                    <td>
                        {% for val in values %}
                        <a href="{{ url_for('.tag', key=key, value=val) }}">{{ val }}</a>
                          {{ ', ' if not loop.last }}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </table>

            <h2>My Opinion</h2>
            {% if g.user %}
            <div class="row">
                <div class="col">
                    {{ opinion('better', better) }}
                </div>
                <div class="col">
                    {{ opinion('worse', worse) }}
                </div>
            </div>
            {% else %}
            <p>
                Please log in to compare entries and get improved recommendations.
            </p>
            {% endif %}
        </div>
        <div class="col">
            <h2>Recommended Alternatives</h2>
            <div class="card-deck">
            <ul>
                {% for item in alternatives %}
                    <li>{{ short_item(item) }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
