{% extends "base.html" %}

{% macro breadcrumb(crumbs, is_leaf=False) %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        {% for (name, link) in crumbs %}
            {% if loop.last and is_leaf %}
                <li class="breadcrumb-item active }}" aria-current="page">{{ name | title }}</li>
            {% else %}
                <li class="breadcrumb-item"><a href="{{ link }}">{{ name | title }}</a></li>
            {% endif %}
        {% endfor %}
      </ol>
    </nav>
{% endmacro %}


{% macro short_item(item) %}
    <a href="{{ url_for('.item', item_id=item.item_id) }}">{{item.name}}, {{ item.detail }}</a>
{% endmacro %}

{% macro opinion(better_or_worse, items) %}
    {% if better_or_worse == 'better' %}
        <h3>I prefer</h3>
        <p class="text-muted">
            &hellip;the following to {{ main_item.name }}:
        <p>
    {% else %}
        <h3>I dislike</h3>
        <p class="text-muted">
            &hellip;the following compared to {{ main_item.name }}:
        </p>
    {% endif %}
    <ul>
    {% for item in items %}
        <li>
            {{ short_item(item) }}
            <form action="{{ url_for('.remove_prefer', item_id=main_item.item_id, remove_item_id=item.item_id) }}" style="display: inline" method="POST">
                <button type="submit" class="close" aria-label="Dismiss">
                    <span aria-hidden="true">&times;</span>
                </button>
            </form>
        </li>
    {% else %}
        <p class="text-muted">
            Add a {{ g.dataset.item }} now using the seach box below
        <p>
    {% endfor %}
    </ul>
    <form method="POST">
        <div class="typeahead__container">
            <div class="typeahead__field">
                <div class="typeahead__query">
                    <input class="js-typeahead"
                           name="item_name"
                           type="search"
                           autocomplete="off">
                    <input type="hidden" name="better_or_worse" value="{{ better_or_worse }}">
                    <input type="hidden" name="item_id">
                </div>
                <div class="typeahead__button">
                    <button type="submit">
                        <span class="typeahead__search-icon"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endmacro %}

{% block content %}
    <script>
        $(function() {
            // Typeahead
            if ($('.js-typeahead').length) {
                $('.js-typeahead').typeahead({
                    order: "asc",
                    source: {
                        groupName: {
                            ajax: {
                                url: '{{ url_for('.typeahead') }}',
                                method: 'GET',
                            }
                        }
                    },
                    mustSelectItem: true,  // only from predefined items
                    hint: true,  // show inline gray autocomplete
                    accent: true,  // ignore accents 
                    //cache: true,  // cache results in localstorage
                    display: 'name',  // attribute to use as match
                    {% raw %}
                    template: '{{name}}, {{detail}}',
                    {% endraw %}
                    callback: {
                        onClickBefore: function(node, a, item, event) {
                            var form = node[0].form;
                            form.elements.item_id.value = item.item_id;
                            form.submit();
                        },
                    }
                });
            }

            {% if main_item.lat %}
                // Map
                var pos = [{{ main_item.lat }}, {{ main_item.lon }}]
                var mymap = L.map('map').setView(pos, 13);
                L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    maxZoom: 18,
                    id: 'mapbox.streets',
                    accessToken: '{{ g.mapbox_token }}'
                }).addTo(mymap);
                var marker = L.marker(pos).addTo(mymap);
            {% endif %}
        });
    </script>

    <h1>{{ main_item.name }}</h1>

    <div class="row">
        <div class="col-8">
            {% for bc in main_item.all_breadcrumbs() %}
                {{ breadcrumb(bc) }}
            {% endfor %}

            <div class="row">
                <div class="col">
                    <table>
                        {% for key, values in tags.items() if ':' not in key %}
                        <tr>
                            <th>{{ key | title }}</th>
                            <td>
                                {% for val in values %}
                                <a href="{{ url_for('.tag', key=key, value=val) }}">{{ val }}</a>
                                  {{ ', ' if not loop.last }}
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% if main_item.lat %}
                <div class="col" id="map" style="min-height: 220px"></div>
                {% endif %}
            </div>

            <h2>My Opinion</h2>
            {% if g.user %}
            <div class="row">
                <div class="col">
                    {{ opinion('better', better) }}
                </div>
                <div class="col-md-auto pl-1 pr-1" style="font-size: 1000%; transform: scaleX(0.3)">
                    &gt;
                </div>
                <div class="col">
                    {{ opinion('worse', worse) }}
                </div>
            </div>
            {% else %}
            <p>
                Please log in to compare entries and get improved recommendations.
            </p>
            {% endif %}
        </div>
        <div class="col">
            <h2>Recommended Alternatives</h2>
            <div class="card-deck">
            <ul>
                {% for item in alternatives %}
                    <li>{{ short_item(item) }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
