.breadcrumb {
    padding: 0.3rem 1rem !important;
}

.item-card.card {
    max-width: 200px;
}

.item-card .card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/**** LAYOUT ****/
main > .container {
  padding: 20px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
